<section class="section featured-projects snap">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://getchime.io/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/chime/hero-image.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://getchime.io/" target="_blank">Chime Visitors</a>
        </div>
        <p>Contactless Visitor Management Software (VMS) is the user-friendly solution to a more hygienic and efficient visitor sign-in process.</p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://getchime.io/merchants/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/chime/merchant_hero.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.getchime.io/merchants/" target="_blank">Chime Merchants</a>
        </div>
        <p>SOP compliance contactless method to account for all customers entering your premises.</p>
      </figcaption>
    </div>
  </div>
</section>
