<header class="intro snap">
  <h1 class="intro__hello">Selamat Sejahtera!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Izqalan Nor'Izad</span>, a fullstack software engineer focused on building scalable, beautiful interfaces &amp; experiences software. An OSS and Web Technology enthusiast.
    <!-- <span class="emoji technologist"></span> -->
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:izqalan@protonmail.com" target="_blank" class="highlight-link">izqalan@protonmail.com</a>
    </span>
    <span> • </span>
    <span>
      <a href="https://blog.izqalan.dev/" target="_blank" class="highlight-link">My Blog</a>
    </span>
    <span> • </span>
    <span>
      <a href="https://blog.izqalan.dev/izqalan_resume.pdf" target="_blank" class="highlight-link">Resume</a>
    </span>
  </h3>
</header>
