<section class="section featured-projects snap">
  <div class="section__title">University involvement</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blog.izqalan.dev/article/project-tnb-grid-right-of-way-inspection-system" target="_blank">
          <img src="{{site.baseurl}}/img/lmck/kutip_sampah.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Cyber run</a>
        </div>
        <p>Berlari sambil bergotong royong membersihkan komuniti perumahan.</p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://getchime.io/" target="_blank">
          <img src="{{site.baseurl}}/img/lmck/powerbi.PNG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Bengkel Power BI</a>
        </div>
        <p>Bengkel dan pertandingan analisis, proses dan visualisasi data. Memenangi tempat ke-tiga 🥉</p>
      </figcaption>
    </div>
  </div>
</section>
