<section class="section featured-projects snap">
  <div class="section__title">University involvement</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/lmck/AJK tamat freestyle.PNG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Bengkel Infografik PDP ICT</a>
        </div>
        <p>Sebagai AJK program, mengendalikan bengkel kepada para guru terutamanya
          yang mempunyai literasi komputer yang rendah serta penggunaan ICT secara minimum. Tujuan
          projek ini adalah untuk mengukuhkan serta meningkat kesediaan penggunaan teknologi/aplikasi
          pendidikan terkini dalam sesi PdP digital sekolah. </p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/lmck/kutip_sampah.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Cyber run</a>
        </div>
        <p>Berlari sambil bergotong royong membersihkan komuniti perumahan.</p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/lmck/powerbi.PNG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Bengkel Power BI</a>
        </div>
        <p>Bengkel dan pertandingan analisis, proses dan visualisasi data. Memenangi tempat ke-tiga 🥉</p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/lmck/montaj_iklan_ajk.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">School@UKM 2022 bengkel montaj iklan AE</a>
        </div>
        <p>Sebuah bengkel mengajar murid sekolah menggunakan After Effect untuk membuat sebuah montaj iklan</p>
      </figcaption>
    </div>
  </div>
</section>
